[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "==0.12"
flask-cors = "*"
flask-wtf = "==0.14.2"
structlog = "==16.1.0"
gunicorn = "==19.7.1"
wtforms = "==2.1"
flask-restful = "*"
pika = "*"


[dev-packages]

