[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "==0.12"
Flask-Cors = "==3.0.2"
Flask-WTF = "==0.14.2"
structlog = "==16.1.0"
gunicorn = "==19.7.1"
WTForms = "==2.1"


[dev-packages]

